In [6]:
import pandas as pd
df=pd.read_csv(r'C:\Users\VISHNU\Downloads\MachineLearning\MachineLearning\logistic_regression\heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [7]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
x=df.drop(columns='target',axis=1)
y=df.target
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [9]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
encoders={}
for c in x.select_dtypes(include='object').columns:
    le=LabelEncoder()
    x_train[c]=le.fit_transform(x_train[c])
    x_test[c]=le.transform(x_test)
    encoders[c]=le

In [10]:
num=x_train.select_dtypes(include='number').columns
sc=StandardScaler()
x_train[num]=sc.fit_transform(x_train[num])
x_test[num]=sc.transform(x_test[num])

In [11]:
from sklearn.svm import SVC
svm_linear=SVC(kernel='linear',C=1)
svm_linear.fit(x_train,y_train)
y_pred=svm_linear.predict(x_test)

In [12]:
from sklearn.metrics import accuracy_score,confusion_matrix
print("accuracy: ",accuracy_score(y_test,y_pred))
print("confusion matrix\n",confusion_matrix(y_test,y_pred))

accuracy:  0.8341463414634146
confusion matrix
 [[78 27]
 [ 7 93]]

In [13]:
from sklearn.inspection import DecisionBoundaryDisplay

In [14]:
svm_poly=SVC(kernel='poly',degree=3,C=1)
svm_poly.fit(x_train,y_train)
y_pred=svm_poly.predict(x_test)

In [15]:
print("accuracy_score: ",accuracy_score(y_test,y_pred))
print("confusion matrix\n",confusion_matrix(y_test,y_pred))

accuracy_score:  0.9414634146341463
confusion matrix
 [[100   5]
 [  7  93]]